<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chat aPP</h1>
    <ul id="messages" ></ul><hr>
    <label>name:</label><input id="user">
    <label>Message:</label><textarea id="latest-msg"></textarea>
    <input type="button"  id="send-msg-btn" value="Send MSG">

   
  </body>
  <script src="/socket.io/socket.io.js"></script>
 <script src="/javascripts/app.js"></script>
  </html>
  